.teamTitle,
.adminTeamTitle,
.membersTeamTitle {
  text-align: center;
}
.teamTitle {
  padding-top: 150px;
  padding-bottom: 50px;
}
.membersTeamTitle {
  padding-top: 100px;
}
.teamPictures {
  width: 700px;
}
.membersPictures {
  width: 1000px;
}
.teamPictures,
.membersPictures {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  margin: auto;
}

.teamPhoto,
.memberTeamPhoto {
  border-radius: 50%;
  margin: 10px;
  width: 200px;
  height: 200px;
}
.teamInfo {
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .teamPictures {
    width: 700px;
  }
  .membersPictures {
    width: 700px;
  }
}
@media screen and (max-width: 700px) {
  .teamPictures {
    width: 600px;
    margin: auto;
  }
  .membersPictures {
    width: 550px;
  }
  .memberTeamPhoto {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 500px) {
  .teamPictures {
    width: 200px;

    margin: auto;
  }
  .membersPictures {
    width: 300px;
  }
  .memberTeamPhoto {
    width: 100px;
    height: 100px;
  }
  .membersTeamName{
    font-size:12px;
  }
}
