.footerContainer {
  text-align: center;
  padding-top: 20px;
 
 
}
.cc {
  background-color: #7d909d;
  margin-top: 200px;
  color: white;
}
.footerLinks {
  display: flex;
  justify-content: center;
}
.footerLinks li a {
  font-weight: 200;
  margin: 0px 20px;
}

.socialMediaIcons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialMediaIcons a {
  padding: 15px;
  font-size: 25px;
}

p {
  color: rgb(206, 206, 206);
  font-weight: 200;
}
