.footerContainer {
  text-align: center;
  padding-top: 20px;
 
}

.footerTitle{
  margin-bottom: 30px;
}
.cc {
  background-color: black;
  margin-top: 200px;
  color: white;
}
.footerLinks {
  display: flex;
  justify-content: center;
}
.footerLinks li a {
  font-weight: 200;
  margin: 0px 20px;
}

.socialMediaIcons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialMediaIcons a {
  padding: 15px;
  font-size: 25px;
}

.copyRightText{
  color: rgb(206, 206, 206);
  font-weight: 200;
}
