.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.navColor{
    background-color: #3d4149;
    color: white;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}
.navLinks li {
  list-style: none;
  padding-right: 15px;
  cursor: pointer;
}
.navLinks li a{
    font-weight: 600;
}

.navLinks li:hover {
  color: rgb(172, 172, 172);
}
