.featured-section-container {
  padding-top: 100px;
}
.featured-section-content {
  padding-top: 20px;
  display: flex;
  width: 70%;
  height: 80vh;
  margin: auto;

}

.featured-left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.featured-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.featured-image{
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}
.featured-item-title {
  font-weight: 700;
  font-size: 40px;
}
.featured-item-price {
  font-weight: 300;
  font-size: 35px;
  margin-bottom: 170px;
}

.logo-colour-select {
  margin-bottom: 20px;
}

.addToCart {
  margin-top: 105px;
  float: right;
  align-self: flex-end;
  background-color: black;
  border: 2px solid black;
  font-size: 20px;
  color: white;
  padding: 5px;
}


  @media screen and (max-width: 600px) {
    .featured-item-title {
      font-weight: 700;
      font-size: 30px;
    }
    .featured-item-price {
      font-weight: 300;
      font-size: 25px;
      margin-bottom: 20px;
    }
    
    .featured-section-container {
      padding-top: 0px;
    }
    .featured-section-content {
      padding-top: 100px;
      flex-direction: column;
      width: 100%;
      margin: auto;
    }
    .featured-left {
      width: 90%;
      justify-content: center;
      align-items: center;
    }
    
    .featured-right {
      width: 90%;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      margin-left: 20px;
    }
    .addToCart {
      margin-top: 20px;
    }
    
  }