.shoppingContainer {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 150px;
}

.shopTitle {
  margin-bottom: 100px;
  padding: 10px;
}
.productsContainer {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

@media screen and (max-width: 1170px) {
  .productsContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 790px) {
  .productsContainer {
    grid-template-columns: 1fr;
  }
}