.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.navColor {
  background-color: #3d4149;
  color: white;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}
.navLink {
  padding-right: 15px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.navLink:hover {
  color: rgb(172, 172, 172);
}

  @media screen and (max-width: 600px) {
    .navLinks{
      display: none;
    }
  }